*{
	margin:0;
	padding:0;
	font-family:calibri;
}
body{
	background:black;
	color:white;
}
#header{
	background-image: url("file:///D:/Untitled%20design%20(1).png");
	background-size:cover;
	background-position:center;
	width:100%;
	height:100vh;

}
.navbar{
	padding:10px 10%;
	
}
nav{
	display:flex;
	align-items:center;
	justify-content:space-between;
	
}
.logo{
	width:250px;
}
nav ul  li{
	display:inline;
	list-style:none;
	margin:5px 20px;
}
nav ul  li a {
	color:white;
	text-decoration:none;
	font-size:20px;
}
nav ul  li a:hover{
	text-decoration:underline;
	color:red;
	width:100%;
}
#aboutme{
	text-align:center;
	aligh-content:center;
	margin-top:100px;
	font-size:30px;
	color:red;
}
.aboutp{
	color:white;
	font-size:20px;
	margin-left:490px;
	text-align:left ;
}